@font-face { font-family: RailwayRegular; src: url('../Railway.ttf'); } 

.wrapper { 
  width: 700px; 
  margin: 0 auto; 
  background: white; 
}

body {
  background: #95C7FF;
  font-family: "Open sans", sans-serif;
  text-align: center;
}

header {
  font-family: 
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF;
  text-align: right;
  padding-right: 35px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color:blue;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 1px #777;
  -moz-box-shadow: 0px 0px 5px 1px #777;
  box-shadow: 0px 0px 5px 1px #777;
}

.ie6 .wrapper { width: 960px; }
.navigation { margin-bottom: -100px; }

h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  color: rgba(199, 39, 39, 1);
}
  
h2 {
  font-weight: bold;
  padding-bottom: 10px;
  color: rgba(199, 39, 39, 1);
}

p {
  padding-left: 75px;
  padding-right: 75px;
  font-weight: normal;
  padding-bottom: 10px;
  color: rgba(199, 39, 39, 1);
  border-style: solid 2px;
  border-radius: 25px;
}

h3 {
  color: rgba(199, 39, 39, 1);
  font-weight: bold;
  padding-bottom: 5px;
}
    
#rotating-item-wrapper {
    height: 354px;
    position: relative;
   
}

.rotating-item {
    display: none;
    position: absolute;
    top:20%;
    left:40%;
    margin:-100px 0 0 -150px;
}